<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= cl_image_path cocktail.photo %>')">
          <div class="cocktail-name">
            <%= cocktail.name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-h">
    <%= link_to 'New cocktail', new_cocktail_path, {class: "add-btn"}%>
  </div>
</div>
