// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cocktail {
  margin-left: 20px;
  padding: 10px;
}

.add-btn {
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 100px;
}
